
/camlp5-*/
/contrib-*/*/
/contrib-*/*.tar.gz
/coq-*/
/findlib-*/
/lablgtk-*/
/logs/
/ocaml-*/
/ssreflect-*/

/camlp5-*.tgz
/coq-*.tar.gz
/coq-unofficial-*-win32.exe
/findlib-*.tar.gz
/gtk+-bundle_*.zip
/installer.nsi
/lablgtk-*.tar.gz
/ocaml-*.tar.bz2
/ssreflect-*.tar.gz
/logo.ico

Thumbs.db
Desktop.ini
.DS_Store

